/.phpunit.cache
/src/node_modules
/src/public/storage
/src/public/hot
/src/public/css
/src/public/fonts
/src/public/js
/src/public/mix-manifest.json
/src/public/media/
/src/public/build/
/src/vendor
/.idea
/.vagrant
.env
.php_cs.cache
/src/storage/debugbar
/src/storage/tmp
/src/storage/medialibrary
/log
.phpunit.result.cache
pint.json
storage/media-library/temp
/mysql